{{#> layout currentPage='Blog'}}

<!-- BLOG DETAIL SECTION -->
<article class="blog-detail">
	<h1>Pasar Coding di Indonesia</h1>

	<p>30 Jan 2025 11:22 WIB | Andhika Chandra Gulpa</p>

	<img src="assets/img/web-version.jpg" alt="blog-image" />

	<p>
		WEBSITE.CO.ID, LOKASI –– Lorem ipsum dolor sit, amet consectetur adipisicing
		elit. Consectetur perferendis alias excepturi dolorem laudantium eius
		consequuntur repellendus fugit, dolorum asperiores provident possimus id
		cumque non iusto praesentium labore amet itaque. Expedita assumenda
		accusantium iure ipsa vero debitis aliquid a fugit! Ea deserunt id
		architecto quas sunt et delectus, aut earum!
	</p>
</article>

{{/ layout }}