{{!-- user=user => user yang kita dapat dari controller akan kita kirimkan ke layout --}}
{{#> layout currentPage='Home' user=user}}

{{#if messages.success}}
<div class="alert alert-success mx-5 mt-2" role="alert">
	{{messages.success}}
</div>
{{/if}}

{{#if messages.warning}}
<div class="alert alert-warning mx-5 mt-2" role="alert">
	{{messages.warning}}
</div>
{{/if}}

<main class="main-content">
	<!-- PROFILE CARD -->
	<section id="profile-section">
		<div class="profile-card">
			<img class="profile-img" src="/img/profile.jpg" alt="profile-image" />
			<h1 style="color: blue">Andhika Chandra Gulpa</h1>
			<p style="color: gray">
				Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure, quisquam
				earum. Tempore voluptas obcaecati alias facere odit non! Facere quas
				temporibus eligendi tenetur, numquam error!
			</p>
			<table class="table table-striped table-hover">
				<tr>
					<th scope="col">Experience</th>
					<th scope="col">Year</th>
				</tr>
				<tr>
					<td>
						Digital Marketing
					</td>
					<td>2024</td>
				</tr>
			</table>
		</div>
	</section>
	<section id="introduction">
		<div id="what-i-do">
			<h1>What I do</h1>
			<p>
				Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia
				adipisci sunt iste ad quas fuga cupiditate, fugiat tenetur vitae magnam,
				voluptatum consequatur! Earum beatae quibusdam blanditiis praesentium
				alias eius expedita magnam sequi repellat inventore corporis laboriosam,
				esse similique omnis soluta, exercitationem aspernatur porro,
				consequuntur natus? Vitae odio corrupti saepe earum.
			</p>
		</div>

		<!-- technologies -->
		<div id="tecnologies">
			<div id="javascript">
				<img src="/img/javascript.svg" style="width: 50px; color: aqua" />
				<h2>Frontend Developer</h2>
				<p>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima,
					eveniet enim quidem blanditiis odit molestias!
				</p>
			</div>
			<div id="version-control">
				<img src="/img/github.svg" style="width: 50px" />
				<h2>Version Control</h2>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. A esse
					nostrum voluptates ullam rerum sequi ea. Illo, nobis! Pariatur tenetur
					repudiandae totam quibusdam perspiciatis ipsa deleniti iste aperiam,
					laborum corporis?
				</p>
			</div>
			<div id="automated-deployment">
				<img src="/img/netlify.svg" style="width: 50px" />
				<h2>Automated Deployment</h2>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta quis
					dolorum esse, nemo illum consequuntur quaerat quo expedita obcaecati
					sint, voluptatum consectetur numquam accusantium earum ullam optio.
					Modi, nisi impedit.
				</p>
			</div>
		</div>

		<!-- social -->
		<div id="socials">
			<h2>Find Me on</h2>
			<div>
				<a href="#">
					<img src="/img/facebook.svg" alt="" />
				</a>
				<a href="#">
					<img src="/img/x.svg" alt="" />
				</a>
				<a href="#">
					<img src="/img/instagram.svg" alt="" />
				</a>
				<a href="#">
					<img src="/img/gmail.svg" alt="" />
				</a>
				<a href="#">
					<img src="/img/whatapps.svg" alt="" />
				</a>
			</div>
		</div>
	</section>
</main>

{{/ layout }}